.merlin
node_modules
_build
_esy
esy.lock
_release
*.byte
*.native
*.install
.bash_history
.bundle
.env
webspicy/rspec.xml
vendor/bundle
Dockerfile.*.log
Dockerfile.*.built
Dockerfile.*.pushed
.git
Makefile
docker-compose.yml
Dockerfile
.gitignore
.dockerignore
